FILESHARE_APP_NAME=OctaneDrop LAN
FILESHARE_HOST=0.0.0.0
FILESHARE_PORT=8765
FILESHARE_MAX_UPLOAD_BYTES=1099511627776
FILESHARE_STREAM_CHUNK_MB=8
# FILESHARE_ALLOWED_SUBNETS=192.168.1.0/24,10.0.0.0/24
FILESHARE_SHARE_TOKEN_TTL_SECONDS=600
FILESHARE_SESSION_MAX_AGE_SECONDS=43200
FILESHARE_PUBLIC_BASE_URL=
# FILESHARE_DATA_DIR=C:\Users\you\AppData\Local\OctaneDropLAN
